body {
    margin: 0 !important;
    padding: 0 !important;
}
.red {
    border: 1px solid red;
}
.green {
    border: 1px solid green;
}
.banner {
    height: 1000px;
    background: url("https://i.ytimg.com/vi/R9mXtzn8meE/maxresdefault.jpg") center center no-repeat;
    padding: 20px;
}
.about-sign-in {
    height: 80px;
    width: 100%;
    text-align: right;
}
.about, .sign-in {
    text-decoration: none;
    margin-top: 60px;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase;
}
.sign-in {
    margin-right: 60px;
    margin-left: 25px;
    border: 1px solid green;
    border-radius: 20px;
    color: green;
}

.logo {
    background: url("./img/hapoERP.png") center center no-repeat;
    margin-top: 40px;
    height: 150px;
}
.text {
    text-align: center;
    margin-top: 30px;
}
.btn-start-now {
    text-align: center;
}
button {
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid green;
    border-radius: 20px;
    margin-top: 25px;
    cursor: pointer;
}

.left, .center, .right {
    width: 33%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
span {
    display: block;
    font-size: 40px;
}
.text span {
    font-size: 20px;
}
img {
    width: 52px;
    height: 48px;
}